# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Generated data & site (recreated by `make all`)
data/raw/*.json
data/stats.json
site/index.html

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
*.swo
*~
